/* This sheet is for the FAQ.html page*/
body{
    background-color: blanchedalmond;
}
@keyframes a1 {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}
@keyframes a2 {
    from{transform: rotateX(0deg);}
    to{transform: rotateX(180deg);}
    
}
img{
    animation-name: a2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
    
h1{
    animation-name: a1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#q1,#q2,#q3,#q4,#q5{
    text-align: center;
}
p{
    text-align: center;
}
h3{
    text-align: center;
}
h2{
    text-align: center;
    border-radius: 25px;
    border-color: coral;
    border-style: dotted;
    width: fit-content;
    padding: 10px;
}
