/*This stylesheet is for the homepage */
body{
    background-color: lavenderblush;

}
h1{
    background-color: lightcoral;
    font-family: 'Times New Roman', Times, serif;
    transition: font-family 4s;
    transition-timing-function: ease-in-out;
}
h1:hover{
    font-family: cursive;
}
h2{
    background-color: lightpink;
    font-family: 'Times New Roman', Times, serif;
    transition: font-family 2s;
    transition-timing-function: ease-in-out;
}
h2:hover{
    font-family:cursive;
}
.para1{
    background-color: lightblue;
}
.para2{
    background-image: linear-gradient(to bottom right,lightblue,lightgreen);
    align-content: center;
}
@keyframes a1{
    from{background-color: mediumpurple;}
    to{background-color: lightpink;}
}
.para3{
    animation-name: a1;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;


}
img{
    transition: width 1s,height 1s;
    transition-timing-function: ease-in-out;
}
img:hover{
    width: 400px;
    height: 600px;
    

}