/*this stylesheet is for form.html page*/
body{
    background-color: lavenderblush;
}
@keyframes a1 {
    from{
        color:lavenderblush;
        font-size: small;
        font-family:'Courier New', Courier, monospace;
       

    }
    to{
        color:black;
        font-family:cursive 3s;
        font-size:xx-large;
        font-style: oblique;

    }
}
h1{
    animation-name: a1;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction:normal;


}
form{
    outline-style: dotted;
    outline-color: lightsalmon;
    padding: 100px;
    width: fit-content;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;

}


